.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1976d2; // Цвет заголовка (можно поменять)

}

.logo {
  font-size: 20px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 15px;
}

span {
  color: rgb(255, 255, 255);
  display: flex;
  gap: 15px;
}

a {
  border-radius: 15px;
  color: rgb(186, 19, 19);
  background-color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

a.active {
  border-bottom: 2px solid white;
}
