.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1976d2; // Цвет заголовка (можно поменять)

}

.logo {
  font-size: 20px;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 15px;
}

span {
  color: rgb(255, 255, 255);
  display: flex;
  gap: 15px;
}

a {
  border-radius: 15px;
  color: rgb(186, 19, 19);
  background-color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

a.active {
  border-bottom: 2px solid white;
}

.title {
  font-family: 'Manrope', sans-serif;
  font-size: 64px;
  font-weight: 900; /* Очень жирный */
  line-height: 1.1;
  margin-bottom: 16px;
}

.subtitle {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400; /* Обычный */
  opacity: 0.9;
}
.hero {
  position: relative;
  padding: 10px 20px;
  background: linear-gradient(135deg, #5e0090, #c3a9d6);
  color: white;
  min-height: 200px;
  overflow: hidden; /* Обрезает лишнее */
}

.hero-content {
  max-width: 1200px;
  margin: 20px auto;
  position: relative;
  z-index: 2; 
}

.hero-image {
  position: absolute;
  right: 90px;
  bottom: -29px;
  max-width: 300px;
  height: auto;
  z-index: 2;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}