<div class="car-list">
    <div class="header-container">
      <button routerLink="/cars/new" class="button"><mat-icon>add</mat-icon></button>
      <mat-form-field class="search-field" appearance="outline">
        <mat-label> Поиск</mat-label>
        <input 
          matInput 
          type="search" 
          [formControl]="searchControl" 
          placeholder="Введите марку или модель автомобиля"
          (keydown.enter)="onSearchKeyDown($event)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </div>
    
    <div class="car-list-container">
      <app-car-card 
        *ngFor="let car of cars" 
        [car]="car"
        (deleteCar)="onDeleteCar($event)">
      </app-car-card>
    </div>
  </div>
  