<div class="payment-background">
  <img src="./assets/promo/background.png" alt="Фон проката авто" class="background-image">

  <div *ngIf="!isLoggedIn" class="auth-container">
    <div class="auth-background"></div>
    
    <mat-card class="auth-card">
      <div class="auth-header">
        <h1>Добро пожаловать</h1>
        <p>Войдите или зарегистрируйтесь для бронирования</p>
      </div>
  
      <form [formGroup]="authForm" class="auth-form">
        <div class="form-row">
          <mat-form-field *ngIf="showLoginForm" appearance="outline" class="form-field">
            <mat-label>Имя</mat-label>
            <input matInput formControlName="name">
            <mat-icon matPrefix>person</mat-icon>
            <mat-error *ngIf="authForm.get('name')?.hasError('required')">
              Имя обязательно
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
            <mat-icon matPrefix>email</mat-icon>
            <mat-error *ngIf="authForm.get('email')?.hasError('required')">
              Email обязателен
            </mat-error>
            <mat-error *ngIf="authForm.get('email')?.hasError('email')">
              Неверный формат email
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="form-row">
          <mat-form-field *ngIf="showLoginForm" appearance="outline" class="form-field">
            <mat-label>Телефон</mat-label>
            <input matInput formControlName="phoneNumber" type="tel">
            <mat-icon matPrefix>phone</mat-icon>
            <mat-error *ngIf="authForm.get('phoneNumber')?.hasError('required')">
              Телефон обязателен
            </mat-error>
            <mat-error *ngIf="authForm.get('phoneNumber')?.hasError('pattern')">
              Телефон должен быть в формате +7XXXXXXXXXX
            </mat-error>
          </mat-form-field>
  
          <mat-form-field *ngIf="showLoginForm" appearance="outline" class="form-field">
            <mat-label>Номер прав</mat-label>
            <input matInput formControlName="licenseNum">
            <mat-icon matPrefix>badge</mat-icon>
            <mat-error *ngIf="authForm.get('licenseNum')?.hasError('required')">
              Номер лицензии обязателен
            </mat-error>
            <mat-error *ngIf="authForm.get('licenseNum')?.hasError('pattern')">
              Номер лицензии должен содержать ровно 10 цифр
            </mat-error>
          </mat-form-field>
        </div>
  
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Пароль</mat-label>
          <input matInput 
                 [type]="hide ? 'password' : 'text'" 
                 formControlName="password"
                 #passwordInput>
          <mat-icon matPrefix>lock</mat-icon>
          <button mat-icon-button matSuffix 
                  (click)="togglePasswordVisibility(passwordInput)" 
                  type="button"
                  matTooltip="{{hide ? 'Показать пароль' : 'Скрыть пароль'}}">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="authForm.get('password')?.hasError('required')">
            Пароль обязателен
          </mat-error>
        </mat-form-field>
  
        <button *ngIf="!showLoginForm" mat-raised-button color="primary" type="button" class="submit-button" (click)="login()">
          <mat-icon>login</mat-icon>
          Войти
        </button>
        <button *ngIf="!showLoginForm" mat-raised-button color="primary" type="button" class="submit-button" (click)="showLoginForm = true" >
          <mat-icon>account_box</mat-icon>
          Регистрация
        </button>
        <button *ngIf="showLoginForm" mat-raised-button color="primary" type="button" class="submit-button" (click)="registerUser()" >
          <mat-icon>account_box</mat-icon>
          Продолжить
        </button>
        <button *ngIf="showLoginForm" mat-raised-button color="primary" type="button" class="submit-button" (click)="showLoginForm = false">
          <mat-icon>autorenew</mat-icon>
          Вернуться ко входу
        </button>
      </form>
    </mat-card>
  </div>
  
  <div *ngIf="isLoggedIn" class="booking-wrapper">
    <div class="home-container">
      <mat-card class="booking-card">
        <mat-card-title>Сделать заказ</mat-card-title>
        <form [formGroup]="form" (ngSubmit)="submitBooking()">
          <div class="form-row">
            
            <mat-form-field appearance="fill" class="compact-field">
              <mat-label>Начало бронирования</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="startTime"
                required
                [min]="minDate"
              />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <!-- <div class="form-row">
            <mat-form-field appearance="fill" class="compact-field">
              <mat-label>Начало бронирования*</mat-label>
              <input matInput formControlName="startTime" type="datetime-local" required />
            </mat-form-field>
          </div> -->

          <button mat-raised-button color="primary" type="submit" class="submit-button">
            Подтвердить
          </button>
          <button mat-raised-button color="warn" class="submit-button" (click)="goToProfile()">Личный кабинет</button>
          <button mat-raised-button color="warn" class="submit-button" (click)="logout()">Выйти</button>
        </form>
      </mat-card>
    </div>
  </div>

  <div  class="full-width-car-section">
    <!-- <h2 style="text-align: center; margin-bottom: 16px;">Выберите автомобиль</h2> -->
    <div class="car-grid-container">
      
      <mat-card
        class="car-card"
        *ngFor="let car of cars"
        [class.selected]="car.carId === selectedCarId"
        (click)="selectCar(car.carId)"
      >
        <img
          mat-card-image
          [src]="'./assets/cars/' + (car.brand + car.model).replaceAll(' ', '') + '.png'"
          (error)="onImageError($event)"
        />
        <mat-card-content>
          <h3>{{ car.brand }} {{ car.model }}</h3>
          <!-- <p>{{ car.licensePlate }}</p> -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


